@font-face {
    font-family: "TildaSans";
    src: url(Fonts/TildaSans-Light.ttf);
    font-weight: 300;
  }
  
  @font-face {
    font-family: "TildaSans";
    src: url(Fonts/TildaSans-Regular.ttf);
    font-weight: 400;
  }
  
  @font-face {
    font-family: "TildaSans";
    src: url(Fonts/TildaSans-Medium.ttf);
    font-weight: 500;
  }
  
  @font-face {
    font-family: "TildaSans";
    src: url(Fonts/TildaSans-Semibold.ttf);
    font-weight: 600;
  }
  
  @font-face {
    font-family: "TildaSans";
    src: url(Fonts/TildaSans-Bold.ttf);
    font-weight: 700;
  }
  
  @font-face {
    font-family: "TildaSans";
    src: url(Fonts/TildaSans-ExtraBold.ttf);
    font-weight: 800;
  }